{
  "bracketSpacing": true,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false
}
